* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #131312;
  color: #efefef;
}
.container {
  padding: 40px 10%;
}
/* HEADER */
header {
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  font-size: 50px;
  text-decoration: none;
  color: #efefef;
  width: 220px;
}
nav span {
  color: #4361ee;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #efefef;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}
nav ul li a:hover {
  color: #4361ee;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -6px;
}
nav ul li a:hover::after {
  width: 100%;
  transition: all ease-in-out 0.8s;
}
.header__info {
  margin-top: 7%;
  font-size: 30px;
  text-align: center;
}
.header__info h1 {
  font-size: 80px;
}
.header__info h1,
h2 {
  margin-bottom: 20px;
}
.header__info span {
  color: #4361ee;
}
.header__info p {
  line-height: 150%;
}
.header__info i {
  font-size: 70px;
  color: #4361ee;
  margin-bottom: 40px;
}
.header__info .fa-sharp {
  margin-top: 50px;
  font-size: 80px;
  color: white;
}

/* About Section */
#about {
  padding: 80px 0;
  color: #efefef;
}
#about span {
  color: #4361ee;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__col-1 {
  flex-basis: 35%;
}
.about__col-2 {
  flex-basis: 60%;
}
.about__picture {
  width: 100%;
  border-radius: 40px;
  cursor: pointer;
}
.about__picture:hover {
  transform: rotate(0.035turn);
  transition: transform ease-in-out 2s;
}
.about__title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 40px;
}
#about h3 {
  font-size: 40px;
  margin-bottom: 40px;
}
#about p {
  font-size: 20px;
  line-height: 150%;
}
.about__tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.about__tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}
.about__tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #4361ee;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all ease-in-out 0.3s;
}
.about__tab-links.active-link::after {
  width: 50%;
}
.about__tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.about__tab-contents span {
  color: #4361ee;
  font-size: 14px;
}
.about__tab-contents {
  display: none;
}
.about__tab-contents.active-tab {
  display: block;
}
/* My Service Section */
#services {
  padding: 30px 0;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}
.services__list div {
  background-color: #2c2b2c;
  padding: 40px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  cursor: pointer;
}
.services__list h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.services__list div a {
  text-decoration: none;
  color: #efefef;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services__list div:hover {
  background: #4361ee;
  transform: translateY(-15px);
  transition: all ease-in-out 0.6s;
}
.services__list p {
  line-height: 150%;
}
.services__list i {
  font-size: 50px;
  margin-bottom: 20px;
}
/* Portfolio Section */
#portfolio {
  padding: 50px 0;
}
#portfolio span {
  color: #4361ee;
}
.portfolio__worklist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}
.portfolio__worklist-work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__info {
  font-size: 20px;
}
.portfolio__worklist-work img {
  width: 100%;
  border-radius: 10px;
  display: inline-block;
}
.portfolio__worklist-work:hover img {
  transform: scale(1.2);
  transition: all ease-in-out 0.5s;
}
.portfolio__worklist-layer {
  width: 100%;
  height: 0%;
  background-color: rgba(44, 43, 44, 0.8);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
}
.portfolio__worklist-layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.portfolio__worklist-layer a {
  margin-top: 40px;
  color: #4361ee;
  text-decoration: none;
  font-size: 18px;
  background-color: #efefef;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.portfolio__worklist-layer i {
  font-size: 20px;
  margin: 15px auto;
}
.portfolio__worklist-work:hover .portfolio__worklist-layer {
  height: 100%;
  transition: 1s;
}
.portfolio__btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #4361ee;
  padding: 14px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: #efefef;
  text-transform: uppercase;
}
.portfolio__btn:hover {
  background-color: #4361ee;
  transition: all ease-in-out 0.5s;
}
/* Contact Section */
#contact span {
  color: #4361ee;
}
.contact__left {
  flex-basis: 35%;
}
.contact__right {
  flex-basis: 60%;
}
.contact__socials a:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
}
.contact__email {
  color: #efefef;
  text-decoration: none;
}
#contact p {
  line-height: 150%;
  font-size: 20px;
}
#contact i {
  margin-top: 20px;
  margin-right: 20px;
  color: #efefef;
  font-size: 26px;
}
#contact i:hover {
  color: #4361ee;
  transform: translateY(-5px);
  transition: transform 0.6s;
}
.portfolio__btn.contact__btn {
  display: inline-block;
  background: #4361ee;
}
.portfolio__btn.contact__btn:hover {
  background-color: #efefef;
  color: #4361ee;
  transform: translateY(-10px);
  transition: transform 0.6s;
}
.contact__right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #2c2b2c;
  padding: 15px;
  margin: 15px 0;
  color: #efefef;
  font-size: 18px;
  border-radius: 6px;
  resize: none;
}
form .contact__btn {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
/* FOOTER */
footer {
  text-align: center;
  background-color: #2c2b2c;
}
footer a {
  color: #efefef;
  text-decoration: none;
  font-weight: 500;
}
#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
/* MEDIA QUERIES */
/* Small Screens */
nav .fa-solid {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 610px) {
  nav .fa-solid {
    display: block;
    font-size: 18px;
  }
  .header__info i {
    font-size: 24px;
  }
  nav ul {
    background-color: #4361ee;
    position: fixed;
    top: 0;
    right: -120px;
    width: 120px;
    height: 100vh;
    padding-top: 30px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px 20px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
  }
  .logo {
    font-size: 26px;
  }
  header {
    height: 100vh;
  }
  .header__info {
    font-size: 20px;
  }
  .header__info h1 {
    font-size: 40px;
  }
  /* Media Queries About */
  #about {
    padding: 10px;
    margin-top: 20px;
  }
  .about__picture {
    /* width: 100%; */
    margin-bottom: 30px;
  }
  .about__col-1,
  .about__col-2 {
    flex-basis: 100%;
  }
  .about__title {
    font-size: 30px;
  }
  #about h3 {
    font-size: 22px;
  }
  #about p {
    font-size: 20px;
  }
  .contact__left,
  .contact__right {
    flex-basis: 100%;
  }
}
