body {
  background: #131312;
  color: #efefef;
}
.container {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a2be2;
  font-size: 30px;
}
